<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Style Release" ToolsVersion="18.0">
  <Rules AnalyzerId="Reihitsu.Analyzer" RuleNamespace="Reihitsu.Analyzer">
    <Rule Id="RH0396" Action="None" />
    <Rule Id="RH0428" Action="None" />
    <Rule Id="RH2102" Action="None" />
    <Rule Id="RH7004" Action="None" />
    <Rule Id="RH8027" Action="None" />
  </Rules>
</RuleSet>